<nav aria-label="Navigation principale">
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Dashboard
      </a>
    </li>
    <li>
      <a
        routerLink="/routine"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Routine
      </a>
    </li>
    <li>
      <a
        routerLink="/history"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Historique
      </a>
    </li>
  </ul>
</nav>
